body {
  color: #86939e;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

.hidden {
  display: none;
}

.show {
  display: block;
}