
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('Roboto-MediumItalic.woff') format('woff'), url('Roboto-MediumItalic.ttf')  format('truetype'), url('Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
